*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}


.container {
    margin-top: -758px;
    text-align: center
}
  

.fundo {
    width: 99vw;
    height: 99vh;
}


.logo {

    position: absolute;
    width: 245px;
    margin-top: -900px;
    margin-left: 838px;

}


.title {

    color: rgb(223, 8, 8);
    font-size: 33px;
    text-align: center;
    font-weight: 800;
    margin-top: 115px;
    font-weight: 700;
}
 
    
.result-text {

    color: rgb(223, 8, 8);
    font-size: 18px;
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
    font-weight: 700;
    
}


.inputmin {

    margin-top: 30px;
    width: 155px;
    height: 67px;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 2px 15px 30px 2px rgb(192, 24, 24);
    background: #fffefeda;
    justify-content: space-between;
    color: rgb(223, 8, 8);
    text-align: center;
    font-size: 32px;
    align-items: center;
    margin-left: 17px;
    margin-top: 8px;
    font-weight: 600;
    
}

.inputmax {

    margin: 20px;
    width: 155px;
    height: 67px;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 2px 15px 30px 2px rgb(192, 24, 24);
    background: #fffefeda;
    justify-content: space-between;
    color: rgb(223, 8, 8);
    font-size: 32px;
    align-items: center;
    margin-top: 30px;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;

}



.e{
    text-align: center;
    color: rgb(226, 23, 23);
    font-size: 20px;
    margin-left: 16px;
    margin-top: 29px;
    font-weight: 700;
}



#button {
    
    width: 220px;
    height: 70px;
    background: rgb(238, 11, 11);
    box-shadow:  rgb(94, 89, 89) 0px 18px 40px 0px;
    border: none;
    border-radius: 22px;
    color: rgba(255, 255, 255, 0.925);
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    display: block;
    margin-top: 5px;

}


.inputs {
    display: flex;
    justify-content: center;
    margin-top: 8px; 
}

    
.container2 {
    position: absolute;
    margin-left: 700px;
}


.buttonsort {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 8px;
}

.digite {
 text-align: center;
 margin-top: 100px;
}


#button:active {
    opacity: 0.6;
}
     
.resultadodosorteio {
    text-align: center;
    color:rgb(226, 23, 23);
    font-weight: 700;
    font-size: 140px;
    padding-top: 10px;
    text-shadow: 10px 10px 10px rgba(167, 166, 166, 0.863);
    cursor: pointer;
   
}

.h2 {
    color:rgb(226, 23, 23);
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
    margin-top: -35px;
    font-weight: 600;
}

.inputmax:focus{
    border-color:rgb(226, 23, 23);
}

.inputmin:focus{
    border-color:rgb(226, 23, 23);
}
    
.Filipe {
    color: rgb(255 255 255);
    text-align: center;
    margin-top: 107px;
    font-weight: 500;
    font-size: 15px;

}


#result:hover{
    opacity: 0.5;
}


